<p>cart-ii works!</p>

<H2>AddToCart</H2>

<label>name</label>
<input class="form-control" type="text" [(ngModel)]="name" />
<br />
<label>price</label>
<input class="form-control" type="number" [(ngModel)]="price" />
<br />
<label>Quantity</label>
<input class="form-control" type="number" [(ngModel)]="quantity" />
<br />

<button class="btn btn-primary" (click)="add()">AddCart</button>

<br /><br />
<button (click)="priceLowToHigh()">price low to high</button>
<button (click)="priceHighToLow()">price high to low</button>
<table class="table table-dark">
  <thead>
    <tr>
      <th>name</th>
      <th>price {{ totalAmount }}</th>
      <th>quantity</th>
      <th>Action</th>
      <button (click)="clear()">clearcart</button>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>{{ product.name | uppercase }}</td>
      <td>{{ product.price | price }}</td>
      <td>{{ product.quantity }}</td>
      <td><button (click)="delete(i)">delete</button></td>
    </tr>
  </tbody>
</table>
