

  <h1>eventregistration</h1>
  <label>name</label>
  <input class="form-control" type="text" [(ngModel)]="name" />
  <br>
  
  <button class="btn btn-primary" (click)= "register()">Register</button>
  <ol>
    <li *ngFor= "let name of names; let i = index">{{ name }}
        <button (click)= "deleteEach(i)">delete</button>
    </li>
  </ol>

  <button class="btn btn-danger"(click)= "delete()">Delete</button>
  <button class= "btn btn-dark"(click)= "deleteAll()">delete all</button>
  <button class= "btn btn-warning"(click)= "reverse()">reverse</button>
  

