<div class="parent">
  <div class="child1">
    <h3 routerLink="home">home</h3>
    <h3 routerLink="databinding">data binding</h3>
    <h3 routerLink="eventbinding">event binding</h3>
    <h3 routerLink="twowaybinding">two way binding</h3>
    <h3 routerLink="calculator">calculator</h3>
    <h3 routerLink="square">square</h3>
    <h3 routerLink="recatangle">rectangle</h3>
    <h3 routerLink="eventregistration">eventregigstration</h3>
    <h3 routerLink="studentregister">studentregister</h3>
    <h3 routerLink="cart">cart</h3>
    <h3 routerLink="cartii">cartii</h3>
    <h3 routerLink="employees">employees</h3>
    <h3 routerLink="pipes">pipes</h3>
    <h3 routerLink="cars">cars</h3>
    <h3 routerLink="gpay">gpay</h3>
    <h3 routerLink="vehicle">vehicle</h3>
    <h3 routerLink="accounts">accounts</h3>
    <h3 routerLink="item">Item</h3>
    <h3 routerLink="socialmedia">socialmedia</h3>
    <h3 routerLink="mail">mail</h3>
    <h3 routerLink="datacard">datacard</h3>
    <h3 routerLink="createvehicle">creat vehicle</h3>
    <h3 routerLink="create-user">create-user</h3>
    <button (click)="logout()" class="logout">logout</button>
    
  </div>

  <div class="child2">
    <router-outlet></router-outlet>
  </div>
</div>
